LOCALSTACK_AUTH_TOKEN=
LOCALSTACK_DEBUG=0

GATEWAY_IMAGE=fsamp-gateway:local
PROCESSOR_IMAGE=fsamp-processor:local

GATEWAY_URL=http://localhost:8080
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-west-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

S3_BUCKET_NAME=fsamp-local-files
DYNAMODB_TABLE_NAME=fsamp-local-file-metadata
OUTBOX_TABLE_NAME=fsamp-local-outbox
SQS_QUEUE_NAME=fsamp-local-processing-queue
SQS_QUEUE_URL=http://localhost:4566/000000000000/fsamp-local-processing-queue
SNS_TOPIC_ARN=arn:aws:sns:us-west-2:000000000000:fsamp-local-file-events
KMS_KEY_ID=alias/fsamp-local-master-key

TEST_USER=e2e-test-user
TEST_PASSWORD=E2eTestPass123!

FSAMP_DEMO_DOCKER_LOGS=true
